.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding-top: 10px;
}

.button-area{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-right: 50px;
}