<nb-card>
    <nb-card-header> Investigadores </nb-card-header>
    <nb-card-body >
  
      <nb-user size="large"
               name="John Doe"
               title="Investigador">
      </nb-user>
      <nb-user size="large"
               name="Frank Park"
               title="Investigador">
      </nb-user>
      <nb-user size="large"
               name="Tomas Claire"
               title="Investigador">
      </nb-user>
      <nb-user size="large"
               name="John Doe"
               title="Investigador">
      </nb-user>
      <nb-user size="large"
               name="Frank Park"
               title="Investigador">
      </nb-user>
      <nb-user size="large"
               name="Tomas Claire"
               title="Investigador">
      </nb-user>
  
    </nb-card-body>
  </nb-card>
